@model LoginModel
@using Microsoft.Extensions.Primitives
@using Nop.Core
@inject IWebHelper webHelper

@{
    var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url)
        ? url.ToString() : webHelper.GetRawUrl(Context.Request);

    var registerUrl = Url.RouteUrl("Register", new { returnUrl = returnUrl }, webHelper.GetCurrentRequestProtocol());
}

<li class="popup-login-form">
    <div class="card">
        <div class="returning-wrapper fieldset">
            <form asp-route="Login" asp-route-returnurl="@returnUrl" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                <div class="title">
                    <strong>@T("Account.Login.ReturningCustomer")</strong>
                </div>
                <div class="form-fields">
                    @if (Model.UsernamesEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="Username" asp-postfix=":"></label>
                            <input asp-for="Username" class="username" autofocus="autofocus" />
                            <span asp-validation-for="Username"></span>
                        </div>
                    }
                    else
                    {
                        <div class="inputs">
                            <label asp-for="Email" asp-postfix=":"></label>
                            <input asp-for="Email" class="email" autofocus="autofocus" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    }
                    <div class="inputs">
                        <label asp-for="Password" asp-postfix=":"></label>
                        <input asp-for="Password" class="password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="inputs reversed">
                        <input asp-for="RememberMe" id="header-login-remember-me" />
                        <label asp-for="RememberMe" for="header-login-remember-me"></label>
                        <span class="forgot-password my-3">
                            <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                        </span>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <nop-captcha />
                    }
                </div>
                <div class="buttons">
                    <button type="submit" class="button-1 login-button">@T("Account.Login.LoginButton")</button>
                </div>
            </form>
        </div>
        <div class="header-ragister-block">
            <p>@T("NopStation.Theme.Kingdom.HeaderLogin.DoNotHaveAccount") </p>
            <p><a href="@registerUrl">@T("NopStation.Theme.Kingdom.HeaderLogin.CreateAccount")</a></p>
        </div>
    </div>
</li>
