@model NopStation.Plugin.Theme.NopGadget.Areas.Admin.Models.ConfigurationModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "NopGadget Theme Configuration";
}

<form asp-controller="ThemeNopGadget" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Theme.NopGadget.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="card">
        <div class="card-header">
            @T("Admin.NopStation.Theme.NopGadget.Blocks.ThemeColors")
        </div>
        @await Html.PartialAsync("~/Plugins/NopStation.Plugin.Theme.NopGadget/Areas/Admin/Views/ThemeNopGadget/_Configure.Color.cshtml", Model)
    </div>

    <div class="card mt-4">
        <div class="card-header">
            @T("Admin.NopStation.Theme.NopGadget.Blocks.ButtonColors")
        </div>
        @await Html.PartialAsync("~/Plugins/NopStation.Plugin.Theme.NopGadget/Areas/Admin/Views/ThemeNopGadget/_Configure.ButtonColor.cshtml", Model)
    </div>

    <div class="card mt-4">
        <div class="card-header">
            @T("Admin.NopStation.Theme.NopGadget.Blocks.General")
        </div>
        @await Html.PartialAsync("~/Plugins/NopStation.Plugin.Theme.NopGadget/Areas/Admin/Views/ThemeNopGadget/_Configure.General.cshtml", Model)
    </div>
</form>

<!-- Add the script here -->
<script>
    $(document).ready(function () {
        $('form').on('keydown', function (e) {
            // Prevent form submit on Enter key if not from textarea or not wanted
            if (e.key === 'Enter' && e.target.tagName !== 'TEXTAREA') {
                e.preventDefault();
                return false;
            }
        });
    });
</script>