@model ConfigurationModel
@using NopStation.Plugin.Theme.Kingdom
@using Nop.Services

<div class="card-body">
    <em>@T("Admin.NopStation.Theme.Kingdom.Configuration.Carousel.Hint")</em>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EnableCarouselsForDefaultEntityLists_OverrideForStore" asp-input="EnableCarouselsForDefaultEntityLists" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EnableCarouselsForDefaultEntityLists" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableCarouselsForDefaultEntityLists" />
        </div>
    </div>
    <nop-nested-setting asp-for="EnableCarouselsForDefaultEntityLists">
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EnableCarouselAutoPlay_OverrideForStore" asp-input="EnableCarouselAutoPlay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EnableCarouselAutoPlay" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EnableCarouselAutoPlay" />
            </div>
        </div>
        <nop-nested-setting asp-for="EnableCarouselAutoPlay">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CarouselAutoPlayTimeout_OverrideForStore" asp-input="CarouselAutoPlayTimeout" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CarouselAutoPlayTimeout" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CarouselAutoPlayTimeout" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CarouselAutoPlayHoverPause_OverrideForStore" asp-input="CarouselAutoPlayHoverPause" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CarouselAutoPlayHoverPause" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CarouselAutoPlayHoverPause" />
                </div>
            </div>
        </nop-nested-setting>

        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EnableCarouselLoop_OverrideForStore" asp-input="EnableCarouselLoop" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EnableCarouselLoop" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EnableCarouselLoop" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EnableCarouselNavigation_OverrideForStore" asp-input="EnableCarouselNavigation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EnableCarouselNavigation" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EnableCarouselNavigation" />
            </div>
        </div>

        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="EnableCarouselPagination_OverrideForStore" asp-input="EnableCarouselPagination" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="EnableCarouselPagination" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EnableCarouselPagination" />
            </div>
        </div>
        <nop-nested-setting asp-for="EnableCarouselPagination">
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CarouselPaginationClickable_OverrideForStore" asp-input="CarouselPaginationClickable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CarouselPaginationClickable" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CarouselPaginationClickable" />
                </div>
            </div>
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CarouselPaginationTypeId_OverrideForStore" asp-input="CarouselPaginationTypeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CarouselPaginationTypeId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="CarouselPaginationTypeId" asp-items="@((await PaginationType.Bullets.ToSelectListAsync()).ToList())" />
                </div>
            </div>
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CarouselPaginationDynamicBullets_OverrideForStore" asp-input="CarouselPaginationDynamicBullets" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CarouselPaginationDynamicBullets" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CarouselPaginationDynamicBullets" />
                </div>
            </div>
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CarouselPaginationDynamicMainBullets_OverrideForStore" asp-input="CarouselPaginationDynamicMainBullets" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CarouselPaginationDynamicMainBullets" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CarouselPaginationDynamicMainBullets" />
                </div>
            </div>
        </nop-nested-setting>
    </nop-nested-setting>
</div>