@model ConfigurationModel

<div class="card-body">
    <div class="card card-default">
        <div class="card-header">
            @T("Admin.NopStation.Theme.Kingdom.Configuration.FooterDescriptionOne")
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="EnableFooterDescriptionBoxOne_OverrideForStore" asp-input="EnableFooterDescriptionBoxOne" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableFooterDescriptionBoxOne" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableFooterDescriptionBoxOne" />
                </div>
            </div>
            <nop-nested-setting asp-for="EnableFooterDescriptionBoxOne">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxOnePictureId_OverrideForStore" asp-input="FooterDescriptionBoxOnePictureId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FooterDescriptionBoxOnePictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FooterDescriptionBoxOnePictureId" />
                    </div>
                </div>
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationLocalizedModel>("footer-description-box-One-localized",
                    @<div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxOneTitle_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxOneTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxOneTitle" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxOneTitle" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxOneText_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxOneText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxOneText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxOneText" asp-template="RichEditor" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxOneUrl_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxOneUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxOneUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxOneUrl" asp-template="RichEditor" />
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                    ,
                    @<div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxOneTitle_OverrideForStore" asp-input="FooterDescriptionBoxOneTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterDescriptionBoxOneTitle" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FooterDescriptionBoxOneTitle" asp-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxOneText_OverrideForStore" asp-input="FooterDescriptionBoxOneText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterDescriptionBoxOneText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FooterDescriptionBoxOneText" asp-template="RichEditor" asp-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxOneUrl_OverrideForStore" asp-input="FooterDescriptionBoxOneUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterDescriptionBoxOneUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FooterDescriptionBoxOneUrl" />
                            </div>
                        </div>
                    </div>
                ))
            </nop-nested-setting>
        </div>
    </div>

    <div class="card card-default">
        <div class="card-header">
            @T("Admin.NopStation.Theme.Kingdom.Configuration.FooterDescriptionTwo")
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="EnableFooterDescriptionBoxTwo_OverrideForStore" asp-input="EnableFooterDescriptionBoxTwo" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableFooterDescriptionBoxTwo" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableFooterDescriptionBoxTwo" />
                </div>
            </div>
            <nop-nested-setting asp-for="EnableFooterDescriptionBoxTwo">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoPictureId_OverrideForStore" asp-input="FooterDescriptionBoxTwoPictureId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FooterDescriptionBoxTwoPictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FooterDescriptionBoxTwoPictureId" />
                    </div>
                </div>
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationLocalizedModel>("footer-description-box-Two-localized",
                    @<div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoTitle_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxTwoTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxTwoTitle" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxTwoTitle" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoText_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxTwoText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxTwoText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxTwoText" asp-template="RichEditor" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoUrl_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxTwoUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxTwoUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxTwoUrl" asp-template="RichEditor" />
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                    ,
                    @<div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoTitle_OverrideForStore" asp-input="FooterDescriptionBoxTwoTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterDescriptionBoxTwoTitle" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FooterDescriptionBoxTwoTitle" asp-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoText_OverrideForStore" asp-input="FooterDescriptionBoxTwoText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterDescriptionBoxTwoText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FooterDescriptionBoxTwoText" asp-template="RichEditor" asp-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="FooterDescriptionBoxTwoUrl_OverrideForStore" asp-input="FooterDescriptionBoxTwoUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterDescriptionBoxTwoUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FooterDescriptionBoxTwoUrl" />
                            </div>
                        </div>
                    </div>
                    ))
            </nop-nested-setting>
        </div>
    </div>

    <div class="card card-default">
        <div class="card-header">
            @T("Admin.NopStation.Theme.Kingdom.Configuration.FooterDescriptionThree")
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="EnableFooterDescriptionBoxThree_OverrideForStore" asp-input="EnableFooterDescriptionBoxThree" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableFooterDescriptionBoxThree" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableFooterDescriptionBoxThree" />
                </div>
            </div>
            <nop-nested-setting asp-for="EnableFooterDescriptionBoxThree">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreePictureId_OverrideForStore" asp-input="FooterDescriptionBoxThreePictureId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FooterDescriptionBoxThreePictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FooterDescriptionBoxThreePictureId" />
                    </div>
                </div>
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationLocalizedModel>("footer-description-box-Three-localized",
                        @<div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreeTitle_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxThreeTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxThreeTitle" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxThreeTitle" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreeText_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxThreeText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxThreeText" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxThreeText" asp-template="RichEditor" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreeUrl_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxThreeUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxThreeUrl" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxThreeUrl" asp-template="RichEditor" />
                                    </div>
                                </div>
                                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                            </div>
                        ,
                        @<div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreeTitle_OverrideForStore" asp-input="FooterDescriptionBoxThreeTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxThreeTitle" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="FooterDescriptionBoxThreeTitle" asp-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreeText_OverrideForStore" asp-input="FooterDescriptionBoxThreeText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxThreeText" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="FooterDescriptionBoxThreeText" asp-template="RichEditor" asp-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxThreeUrl_OverrideForStore" asp-input="FooterDescriptionBoxThreeUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxThreeUrl" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="FooterDescriptionBoxThreeUrl" />
                                    </div>
                                </div>
                            </div>
                    ))
            </nop-nested-setting>
        </div>
    </div>

    <div class="card card-default">
        <div class="card-header">
            @T("Admin.NopStation.Theme.Kingdom.Configuration.FooterDescriptionFour")
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="EnableFooterDescriptionBoxFour_OverrideForStore" asp-input="EnableFooterDescriptionBoxFour" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableFooterDescriptionBoxFour" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableFooterDescriptionBoxFour" />
                </div>
            </div>
            <nop-nested-setting asp-for="EnableFooterDescriptionBoxFour">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourPictureId_OverrideForStore" asp-input="FooterDescriptionBoxFourPictureId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FooterDescriptionBoxFourPictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FooterDescriptionBoxFourPictureId" />
                    </div>
                </div>
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationLocalizedModel>("footer-description-box-Four-localized",
                        @<div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourTitle_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxFourTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxFourTitle" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxFourTitle" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourText_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxFourText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxFourText" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxFourText" asp-template="RichEditor" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourUrl_OverrideForStore" asp-input="@Model.Locales[item].FooterDescriptionBoxFourUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="@Model.Locales[item].FooterDescriptionBoxFourUrl" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].FooterDescriptionBoxFourUrl" asp-template="RichEditor" />
                                    </div>
                                </div>
                                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                            </div>
                        ,
                        @<div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourTitle_OverrideForStore" asp-input="FooterDescriptionBoxFourTitle" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxFourTitle" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="FooterDescriptionBoxFourTitle" asp-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourText_OverrideForStore" asp-input="FooterDescriptionBoxFourText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxFourText" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="FooterDescriptionBoxFourText" asp-template="RichEditor" asp-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-override-store-checkbox asp-for="FooterDescriptionBoxFourUrl_OverrideForStore" asp-input="FooterDescriptionBoxFourUrl" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                        <nop-label asp-for="FooterDescriptionBoxFourUrl" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="FooterDescriptionBoxFourUrl" />
                                    </div>
                                </div>
                            </div>
                    ))
            </nop-nested-setting>
        </div>
    </div>
</div>

